@import "colors.scss";
@import "fonts.scss";
$lg-view:2560px;
$tablet-992:992px;
$font:'Arial', sans-serif;
$font2:'intro';
@mixin heading-h3{
  color: #b2a893;
  font-family:$font2;
  font-size: 16px;
  letter-spacing: -0.4px;
}
@mixin triangle-right{
  width: 0;
  height: 0;
  border-top:17px solid transparent;
  border-bottom:17px solid transparent;
  border-left: 17px solid transparent;
}
@mixin chapter-wrapper{
  padding:20px 20px 0;
  border:1px dotted $lightgreen2;
}
@mixin text-default{
  font-family:$font;
  line-height: 24px;
}
@mixin center-flex{
    display:flex;
    justify-content: center;
    align-items:center;
}
@mixin justify-col{
    display:flex;
    justify-content: space-between;
}
@mixin justify-col-center{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
@mixin centered-container{
    margin:0 auto;
  padding:0 15px;
}
@mixin after-before{
    content:"";
    display: block;
    position: absolute;
}
@mixin img-resize{
  width: 100%;
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  z-index: 10;
}

@mixin desktop-lg{
  @media(max-width:#{$lg-view}){
    @content;
  }
}

